### gitignore file 
### Project multitask-context-dependent-behavior

# Temporary files
*.tmp
*.temp

# Data Directory
data/

# MacOS
.DS_Store

# Jupyter Notebook
**/.ipynb_checkpoints/

# Python
**/__pycache__
*.py[cod]
.pytest_cache
**/.mypy_cache

# Sphinx Builds
docs/build
