### gitignore file
### Project multitask-context-dependent-behavior

# Confidential files
**/credentials/*

# Temporary files
*.tmp
*.temp

# MacOS
.DS_Store

# Jupyter Notebook
**/.ipynb_checkpoints/

# Python Cache
**/__pycache__
*.py[cod]
.pytest_cache
**/.mypy_cache

# Data Directory
data/

# Archives
**/archive/*
